:root {
    font-family: 'Roboto', 'Open Sans', serif;

    --side-bar-color: #f7f7f7;
    --main-font-color: black;
    --selected-color: rgb(220,77,66);
    --selected-background: rgb(252,241,229);
}

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

a {
    display: flex;
    text-decoration: none;
    color: var(--main-font-color);
    border: 1px solid var(--side-bar-color);
    font-size: 20px;
    gap: 10px;
}

a:not(.selected-link):hover {
    border: 1px solid var(--selected-color);
    border-radius: 20px;
    transition: .3s;
}



.side-bar-header {
    display: flex; 
}

.push {
    margin-left: auto;
    padding-right: 15px;
}

.profile-pic {
    width: 30px;
    height: auto;
    margin: 10px;
}

.thumbnail-bar {
    padding-right: 10px;
}

.side-bar {
    padding: 20px;
    background-color: var(--side-bar-color);
    color: var(--main-font-color);
    height: 100vh;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    font-weight: 300;
}

#user-name {
    font-size: 1.5em;
    font-weight: 400;
    align-content: center;
}

#page-content {
    display: grid;
    grid-template-columns: 0.70fr 2fr;
}

.menu-item {
    padding: 15px;
}
.selected-menu {
    color: var(--selected-color);
    background-color: var(--selected-background);
    border-radius: 20px;
}

.main-content {
    padding: 75px;
}

.main-page-title {
    font-weight: 500;
    font-size: 1.75em;
}